llama-index-readers-file==0.2.1
llama-index-llms-openai==0.2.16
llama-index-embeddings-openai==0.2.5
llama-index-agent-openai==0.3.4
python-dotenv==1.0.1
python-multipart==0.0.19
fastapi[standard]==0.115.0
groq==0.11.0
gradio==5.9.0
